{% extends 'ratebeer/base.html' %}

{% block title %}
	Prihlásenie
{% endblock %}

{% block content %}
	<h2>Prihlásenie</h2>

	{% load widget_tweaks %}
	<form class="form-horizontal" role="form" method="post">
		{% csrf_token %}
		{% for field in form %}
			{% if field.errors %}
				<div class="form-group has-error">
					<p>Nesprávne meno alebo heslo.</p>
				</div>
			{% else %}
				<div class="form-group">
					<label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
					<div class="col-sm-10">
						{{ field|attr:"class:form-control" }}
						{% if field.help_text %}
							<p class="help-block"><small>{{ field.help_text }}</small></p>
						{% endif %}
					</div>
				</div> <!-- form-group -->
			{% endif %}
		{% endfor %}

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" class="btn btn-primary" value="Prihlásiť sa" />
			</div>
		</div>

	</form>

{% endblock %}