{% extends 'ratebeer/base.html' %}

{% block title %}
	{{ beer.brewery }} - {{ beer.name }}
{% endblock %}

{% block content %}

	{% if user.is_authenticated %}

		<h2>{{ beer.brewery }} - {{ beer.name }}</h2>

			<p>
				Štýl: {{ beer.get_style_display }}<br>
				Krajina: {{ beer.get_country_display }}<br>
				Pivo {% if beer.plato %}je {{ beer.plato }}-stupňové, {% endif %}má 
				{% if not beer.abv %}?{% else %}{{ beer.abv }}{% endif %} % alkoholu.<br>
				Ochutnané {{ beer.get_serving_display }} {{ beer.get_volume_display }}, dňa {{ beer.date }} na mieste {{ beer.place }}, {{ beer.city }}{% if beer.price %} za cenu {{ beer.price }} €{% endif %}.<br>
				Hodnotenie: {{ beer.get_rating_display }}
				{% if beer.note %}<br>
				Poznámka: {{ beer.note }}
				{% endif %}
			</p>

			<a href="/beers/editovanie_piva/{{ beer.id }}/"><button class="btn btn-primary">Upraviť hodnotenie</button></a>

	{% else %}
		<p>Na túto akciu nemáte oprávnenie. Možno ste sa zabudli <a href="{% url 'login' %}">prihlásiť</a>?</p>
	{% endif %}

{% endblock %}


