{% extends 'ratebeer/base.html' %}

{% block title %}
	{{ rating.beer.brewery }} - {{ rating.beer.beer_name }}
{% endblock %}

{% block content %}

	{% if user.is_authenticated %}

		<h2>{{ rating.beer.brewery.brewery_name }} - {{ rating.beer.beer_name }}</h2>

			<p>
				Štýl: {{ rating.beer.get_style_display }}<br>
				Krajina: {{ rating.beer.brewery.get_country_display }}<br>
				Mesto: {{ rating.beer.brewery.brewery_city }}<br>
				Pivo {% if rating.beer.plato %}je {{ rating.beer.plato }}-stupňové, {% endif %}má 
				{% if not rating.beer.abv %}?{% else %}{{ rating.beer.abv }}{% endif %} % alkoholu.<br>
				Ochutnané {{ rating.get_serving_display }} {{ rating.get_volume_display }}, dňa {{ rating.date }} na mieste {{ rating.place }}, {{ rating.city }}{% if rating.price %} za cenu {{ rating.price }} €{% endif %}.<br>
				Hodnotenie: {{ rating.get_rating_display }}
				{% if rating.note %}<br>
				Poznámka: {{ rating.note }}
				{% endif %}
			</p>

			<a href="uprava_hodnotenia/"><button class="btn btn-info">Upraviť hodnotenie</button></a>
			<a href="zmazanie_hodnotenia_a77K5YhrT1X0HUBVopWs/"><button class="btn btn-danger">Zmazať hodnotenie</button></a>

	{% else %}
		<p>Na túto akciu nemáte oprávnenie. Možno ste sa zabudli <a href="{% url 'login' %}">prihlásiť</a>?</p>
	{% endif %}

{% endblock %}


