{% extends 'ratebeer/base.html' %}

{% block title %}
	Editovanie piva
{% endblock %}

{% block content %}

	{% if user.is_authenticated %}

		<div class="container">
			<div class="panel panel-primary dialog-panel">
				<div class="panel-heading">
					<h2>Hodnotenie piva</h2>
				</div>

				{% load widget_tweaks %}

				<div class="panel-body">
					<form class="form-horizontal" role="form" method="post">
						{% csrf_token %}
						{{ form.non_field_errors }}

						<div class="form-group">
							{{ form.brewery.errors }}
							<label class="control-label col-md-2" for="{{ form.brewery.id_for_label }}">Pivovar</label>
							<div class="col-md-7">
								{{ form.brewery|attr:"class:form-control" }}
							</div>
						</div>

						<div class="form-group">
							{{ form.name.errors }}
							<label class="control-label col-md-2" for="{{ form.name.id_for_label }}">Názov</label>
							<div class="col-md-7">
								{{ form.name|attr:"class:form-control" }}
							</div>
						</div>

						<div class="form-group">
							{{ form.country.errors }}
							<label class="control-label col-md-2" for="{{ form.country.id_for_label }}">Krajina</label>
							<div class="col-md-9">
								<div class="col-md-4">
									<div class="form-group internal input-group">
										{{ form.country|attr:"class:form-control" }}
									</div>
								</div>

								{{ form.style.erorrs }}
								<label class="control-label col-md-2" for="form.style.id_for_label">Štýl</label>
								<div class="col-md-3">
									<div class="form-group internal input-group">
										{{ form.style|attr:"class:form-control" }}
									</div>
								</div>
							</div> <!-- col-md-9 -->
						</div> <!-- form-group -->

						<div class="form-group">
							{{ form.plato.errors }}
							<label class="control-label col-md-2" for="{{ form.plato.id_for_label }}">Stupňovitosť</label>
							<div class="col-md-9">
								<div class="col-md-4">
									<div class="form-inline internal input-inline">
										{{ form.plato|attr:"class:form-control" }} °
									</div>
								</div>

								{{ form.abv.errors }}
								<label class="control-label col-md-2" for="form.abv.id_for_label">Alkohol</label>
								<div class="col-md-3">
									<div class="form-inline internal input-inline">
										{{ form.abv|attr:"class:form-control" }} %
									</div>
								</div>
							</div> <!-- col-md-9 -->
						</div> <!-- form-group -->

						<div class="form-group">
							{{ form.city.errors }}
							<label class="control-label col-md-2" for="{{ form.city.id_for_label }}">Mesto</label>
							<div class="col-md-7">
								{{ form.city|attr:"class:form-control" }}
							</div>
						</div>

						<div class="form-group">
							{{ form.place.errors }}
							<label class="control-label col-md-2" for="{{ form.place.id_for_label }}">Podnik/miesto</label>
							<div class="col-md-7">
								{{ form.place|attr:"class:form-control" }}
							</div>
						</div>

						<div class="form-group">
							<div class="form-inline">
								{{ form.date.errors }}
								<label class="control-label col-md-2" for="{{ form.date.id_for_label }}">Dátum</label>
								<div class="col-md-9">
									{{ form.date|attr:"class:form-control" }}
								</div> <!-- col-md-9 -->
							</div>
						 </div> <!-- form-group -->

						<div class="form-group">
							{{ form.price.errors }}
							<label class="control-label col-md-2" for="{{ form.price.id_for_label }}">Cena</label>
							<div class="col-md-9">
								<div class="col-md-4">
									<div class="form-inline internal input-inline">
										{{ form.price|attr:"class:form-control" }} €
									</div>
								</div>

								{{ form.volume.errors }}
								<label class="control-label col-md-2" for="form.volume.id_for_label">Objem</label>
								<div class="col-md-3">
									<div class="form-group internal input-group">
										{{ form.volume|attr:"class:form-control" }}
									</div>
								</div>
							</div> <!-- col-md-9 -->
						</div> <!-- form-group -->

						<div class="form-group">
							{{ form.serving.errors }}
							<label class="control-label col-md-2" for="{{ form.serving.id_for_label }}">Formát</label>
							<div class="col-md-9">
								<div class="col-md-4">
									<div class="form-group internal input-group">
										{{ form.serving|attr:"class:form-check" }}
									</div>
								</div>

								{{ form.rating.errors }}
								<label class="control-label col-md-2" for="form.rating.id_for_label">Hodnotenie</label>
								<div class="col-md-3">
									<div class="form-group internal input-group">
										{{ form.rating|attr:"class:form-control" }}
									</div>
								</div>
							</div> <!-- col-md-9 -->
						</div> <!-- form-group -->


						<div class="form-group">
							{{ form.note.errors }}
							<label class="control-label col-md-2" for="{{ form.note.id_for_label }}">Poznámka</label>
							<div class="col-md-7">
								{{ form.note|attr:"class:form-control" }}
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-7 col-md-offset-2">
								<input type="submit" class="btn btn-primary" value="Upraviť hodnotenie">
							</div>
						</div>

					</form>
				</div> <!-- panel-body -->
			</div> <!-- panel -->
		</div> <!-- container -->

	{% else %}
		<p>Na túto akciu nemáte oprávnenie. Možno ste sa zabudli <a href="{% url 'login' %}">prihlásiť</a>?</p>
	{% endif %}

{% endblock %}