{% extends 'ratebeer/base.html' %}

{% block title %}
	Zoznam pív
{% endblock %}

{% block content %}
	<h2>Zoznam pív</h2>

	{% if beers %}

		<table id="ohodnotene_piva" class="table table-striped table-hover tablesorter">
			<thead>
				<tr>
					<th>Pivovar</th>
					<th>Názov</th>
					<th>Štýl</th>
					<th data-sorter="shortDate" data-date-format="ddmmyyyy">Dátum</th>
					<th>Hodnotenie</th>
				</tr>
			</thead>

			<tbody>
				{% for beer in beers %}
					<tr class="clickable-row" data-href="{% url 'detail' beer.id %}">
						<td>{{ beer.brewery }}</td>
						<td>{{ beer.name }}</td>
						<td>{{ beer.get_style_display }}</td>
						<td>{{ beer.date|date:"d.m.Y" }}</td>
						<td>{{ beer.rating }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% if beer.has_other_pages %}
			<ul class="pagination">
				{% if beers.has_previous %}
					<li><a href="?page={{ beers.previous_page_number }}">&laquo;</a></li>
				{% else %}
					<li class="disabled"><span>&laquo;</span></li>
				{% endif %}

				{% for i in beers.paginator.page_range %}
					{% if beers.number == i %}
						<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					{% else %}
						<li><a href="?page={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}

				{% if beers.has_next %}
					<li><a href="?page={{ beers.next_page_number }}">&raquo;</a></li>
				{% else %}
					<li class="disabled"><span>&raquo;</span></li>
				{% endif %}
			</ul>
		{% endif %}

	{% else %}
		<p>Žiadne ohodnotené pivá.</p>
	{% endif %}

{% endblock %}

{% block scripts %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'beers/js/jquery.tablesorter.js' %}"></script>
{% endblock %}

{% block javascript %}
	$("#ohodnotene_piva").tablesorter();
	$(".clickable-row").click(function() {
		window.location = $(this).data("href");
	});
{% endblock %}